@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  
HelveticaNeueLight =
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-style: normal
  font-variant: normal
  font-weight: 100
  
HelveticaNeueNormal =
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-style: normal
  font-variant: normal
  font-weight: 400
  
HelveticaNeueBold =
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-style: normal
  font-variant: normal
  font-weight: bold