// @import 'nib'
// @import 'jeet'
// @import 'rupture'

// @import 'globals/fonts'
// @import 'globals/colors'

// reset
// global-reset()

// @import 'globals/grid'
// @import 'globals/theme'

@import url('../vendors/bootstrap/bootstrap.css')
@import url('https://npmcdn.com/react-selectize@2.0.3/dist/index.min.css');

.product
  .avatar
    border-radius: 5px
    float: left
    margin: 0 10px 0 0
    width: 50px
    
  .info
    float: left
    
    span
      display: block
      
      &.name
        font-weight: bold
        margin: 0 0 3px 0
        
      &.username,
      &.email
        font-size: 12px
        line-height: 12px

.selectize-control
  margin: 0 10px 0 0
  width: 300px
  
.form-inline
  .form-control
    margin: 0 10px 0 0;
    font-size: 13px;
    line-height: 18px;
    padding: 8px;

.selectize-dropdown-content
  div
    .avatar
      display: inline-block
      height: 50px
      margin: 0 10px 0 0
      width: 50px
      
      img
        border-radius: 3px
        max-width: 100%
        
.coupon
  .form-inline
    .form-control
      margin: 0 10px 0 0
      width: 230px
